{% extends '::Demenagement/base.html.twig' %}

	
	{% block body %}

	
	
		
		<!-- Content strats -->

		<div class="content">
		   <div class="container">
		      <div class="row">
		         <div class="col-md-12">
		         
		            <!-- Slider (Parallax Slider) -->
		            
		            <div id="da-slider" class="da-slider">
						<div class="da-slide">
							<h2>40 Cool Pages</h2>
							<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
							<a href="#" class="da-link">Read more</a>
							<div class="da-img">
							<img src="{{ asset('public/demenagement/img/parallax/1.png') }}" alt="image01" >
							</div>
						</div>
						<div class="da-slide">
							<h2>Easy management</h2>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
							<a href="#" class="da-link">Read more</a>
							<div class="da-img">
							<img src="{{ asset('public/demenagement/img/parallax/2.png') }}" alt="image01" >
							</div>
						</div>
						<div class="da-slide">
							<h2>Revolution</h2>
							<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
							<a href="#" class="da-link">Read more</a>
							<div class="da-img">
							<img src="{{ asset('public/demenagement/img/parallax/3.png') }}" alt="image01" >
							</div>
						</div>
						<div class="da-slide">
							<h2>Quality Control</h2>
							<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
							<a href="#" class="da-link">Read more</a>
							<div class="da-img">
							<img src="{{ asset('public/demenagement/img/parallax/4.png') }}" alt="image01" >
							</div>
						</div>
						<nav class="da-arrows">
							<span class="da-arrows-prev"></span>
							<span class="da-arrows-next"></span>
						</nav>
					</div>
		            
		            <!-- Slider ends -->
		
		            <div class="bor"></div>
		
		            <div class="main-content">
		              <div class="row">
		                <div class="col-md-7">
		                  <h2>Lorem ipsum dolor sit amet</h2>
		                  <p class="main-meta">Leave for the far of grammar</p>
		                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate eros nec odio egestas in dictum nisi vehicula. Pellentesque habitant morbi tristique senectus et ac turpis egestas. Suspendisse porttitor luctus imperdiet. <a href="#">Praesent ultricies</a> enim ac ipsum aliquet pellentesque. Nullam justo nunc, dignissim at convallis posuere, sodales eu orci. Duis a risus sed dolor placerat semper quis in urna. Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut <strong>commodo ullamcorper risus nec</strong> mattis. Aenean at massa leo. Vestibulum in varius arcu.</p>
		                </div>
		                <div class="col-md-5">
		                  <div class="main-box">
		                    <h4>Features</h4>
		                    <p>Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Etiam adipiscing posuere justo, nec iaculis justo dictum non.</p>
		                    <ul>
		                      <li><i class="fa fa-angle-right"></i> Cras tincidunt mi non arcu  eleifend</li>
		                      <li><i class="fa fa-angle-right"></i> Aenean ullamcorper justo  diam faucibus</li>
		                      <li><i class="fa fa-angle-right"></i> Maecenas hendrerit neque id ante  mattis</li>
		                    </ul>
		                    <div class="button">
		                      <a href="#"><i class="fa fa-shopping-cart"></i> Buy Now</a> <a href="#"><i class="fa fa-magic"></i> Try Now</a>
		                    </div>
		                  </div>
		                </div>
		              </div>
		            </div>
		
		            <!-- CTA starts -->
		            
		            <div class="cta">
		               <div class="row">
		                  <div class="col-md-9">
		                     <!-- First line -->
		                     <p class="cbig">Lorem ipsum consectetur dolor sit amet, consectetur adipiscing.</p>
		                     <!-- Second line -->
		                     <p class="csmall">Duis vulputate consectetur malesuada eros nec odio consect eturegestas et netus et in dictum nisi vehicula.</p>
		                  </div>
		                  <div class="col-md-2">
		                     <!-- Button -->
		                     <div class="button"><a href="#">Get A Free Trail</a></div>
		                  </div>
		               </div>
		            </div>
		            
		            <!-- CTA Ends -->
		            
		            <!-- Features list. Note down the class name before editing. -->
		                     <div class="row">
		                        <div class="col-md-3 col-sm-6">
		                           <div class="afeature">
		                              <div class="afmatter">
		                                 <i class="fa fa-cloud"></i>
		                                 <h4>Nulla ullamcorper</h4>
		                                 <p>Praesent at tellus porttitor  sagittis. Mauris tempor nulla. Ut tempus interdum mauris vel vehicula. </p>
		                              </div>
		                           </div>
		                        </div>
		                        <div class="col-md-3 col-sm-6">
		                           <div class="afeature">
		                              <div class="afmatter">
		                                 <i class="fa fa-home"></i>
		                                 <h4>Praesent at tellus</h4>
		                                 <p>Praesent at tellus porttitor  sagittis. Mauris tempor nulla. Ut tempus interdum mauris vel vehicula. </p>
		                              </div>
		                           </div>                        
		                        </div>
		                        <div class="col-md-3 col-sm-6">
		                           <div class="afeature">
		                              <div class="afmatter">
		                                 <i class="fa fa-gift"></i>
		                                 <h4>Nulla ullamcorper</h4>
		                                 <p>Praesent at tellus porttitor sagittis. Mauris tempor nulla. Ut tempus interdum mauris vel vehicula. </p>
		                              </div>
		                           </div>                        
		                        </div>
		                        <div class="col-md-3 col-sm-6">
		                           <div class="afeature">
		                              <div class="afmatter">
		                                 <i class="fa fa-user"></i>
		                                 <h4>Mauris tempor</h4>
		                                 <p>Praesent at tellus porttitor  sagittis. Mauris tempor nulla. Ut tempus interdum mauris vel vehicula. </p>
		                              </div>
		                           </div>                        
		                        </div>                        
		                     </div>
		            
		            <!-- Features ends -->
		
		            <div class="bor"></div>
		
		            <!-- Testimonials -->
		
		            <div class="testimonial">
		                <div class="container">
		                     <div class="row">
		                        <div class="col-md-4 col-sm-4">
		                           <!-- Testimonial #1 -->
		                           <div class="test">
		                              Praesent at tellus porttitor nisl porttitor sagittis. Mauris in massa ligula, a tempor nulla. Ut tempus interdum mauris vel vehicula. Nulla ullamcorper tortor commodo in sagittis est accumsan.
		                           </div>
		                           <div class="test-arrow"></div>
		                           <div class="tauth"><i class="fa fa-user"></i> Ravi, <span class="color">Google</span></div>
		                        </div>
		                        
		                        <div class="col-md-4 col-sm-4">
		                           <!-- Testimonial #2 -->
		                           <div class="test">
		                              Praesent at tellus porttitor nisl porttitor sagittis. Mauris in massa ligula, a tempor nulla. Ut tempus interdum mauris vel vehicula. Nulla ullamcorper tortor commodo in sagittis est accumsan.
		                           </div>
		                           <div class="test-arrow"></div>
		                           <div class="tauth"><i class="fa fa-user"></i> Ashok, <span class="color">Yahoo</span></div>
		                        </div>
		
		                        <div class="col-md-4 col-sm-4">
		                           <!-- Testimonial #3 -->
		                           <div class="test">
		                              Praesent at tellus porttitor nisl porttitor sagittis. Mauris in massa ligula, a tempor nulla. Ut tempus interdum mauris vel vehicula. Nulla ullamcorper tortor commodo in sagittis est accumsan.
		                           </div>
		                           <div class="test-arrow"></div>
		                           <div class="tauth"><i class="fa fa-user"></i> Santy, <span class="color">Facebook</span></div>
		                        </div>                        
		                     </div>
		                  </div>
		                </div>
		
		                <div class="bor"></div>
		            
		            <!-- Recent post starts. Note down the class name before editing. -->
		            
		            <div class="rposts">
		               <h4>Recent Posts</h4>
						<div class="row">
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="rpost1">
									<div class="rimg">
										<img src="{{ asset('public/demenagement/img/photos/r1.jpg') }}" alt="" class="img-responsive" />
									</div>
									<!-- Title & Para -->
									<div class="rdetails">
									   <h5>Lorem ipsum</h5>
									   <p>Duis vulputate consectetur malesuada et in dictum nisi vehicula.</p>
									</div>
								</div>
							</div>
		                     
		                    <div class="col-md-3 col-sm-6 col-xs-12">
								<div class="rpost1">
									<div class="rimg">
									   <img src="{{ asset('public/demenagement/img/photos/r2.jpg') }}" alt="" class="img-responsive" />
									</div>
									<div class="rdetails">
									   <h5>Lorem ipsum</h5>
									   <p>Duis vulputate consectetur malesuada et netus et in dictum nisi vehicula.</p>
									</div>                     
								</div>   
							</div>
		                     
		               
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="rpost1">
									<div class="rimg">
									   <img src="{{ asset('public/demenagement/img/photos/r3.jpg') }}" alt="" class="img-responsive" />
									</div>
									<div class="rdetails">
									   <h5>Lorem ipsum</h5>
									   <p>Duis vulputate consectetur malesuada et in dictum nisi vehicula.</p>
									</div>
								</div>
							</div>  
		                    
						    <div class="col-md-3 col-sm-6 col-xs-12">
								<div class="rpost1">
									<div class="rimg">
									   <img src="{{ asset('public/demenagement/img/photos/r4.jpg') }}" alt="" class="img-responsive" />
									</div>
									<div class="rdetails">
									   <h5>Lorem ipsum</h5>
									   <p>Duis vulputate consectetur malesuada et netus et in dictum nisi vehicula.</p>
									</div>                     
								</div>  
							</div>
		               </div>
		            </div>
		            
		            <!-- Recent post ends -->            
		            
		            
		            <!-- Clients starts -->
		               
		            <div class="row">
		               <div class="col-md-12">
		                  <div class="clients">
		                  		<img class="img-responsive" src="{{ asset('public/demenagement/img/clients/1.png') }}" alt="" />
		                  		<img class="img-responsive" src="{{ asset('public/demenagement/img/clients/2.png') }}" alt="" />
		                  		<img class="img-responsive" src="{{ asset('public/demenagement/img/clients/3.png') }}" alt="" />
		                  		<img class="img-responsive" src="{{ asset('public/demenagement/img/clients/4.png') }}" alt="" />
		                  		<img class="img-responsive" src="{{ asset('public/demenagement/img/clients/5.png') }}" alt="" />
		                  		<img class="img-responsive" src="{{ asset('public/demenagement/img/clients/6.png') }}" alt="" />
		                  </div>
		               </div>
		            </div>
		            
		            <!-- Clients ends -->
		            
		         </div>
		      </div>
		   </div>
		</div>   
		
		<!-- Content ends -->
		

	{% endblock %}

