<!-- Header starts -->

	<header>
	   <div class="container">
	      <div class="row">
	         <div class="col-md-4 col-sm-4">
	            <!-- Logo and site link -->
	            <div class="logo">
	               <h1><a href="index.html">Dexer<span class="color">.</span></a></h1>
	            </div>
	         </div>
	         <div class="col-md-4 col-sm-4 col-sm-offset-4 col-md-offset-4">
	            <div class="list">
	               <!-- Add your phone number here -->
	               <div class="phone">
	                  <i class="fa fa-phone"></i> Phone: 123-456-7890
	               </div>
	               <hr />
	               <!-- Add your email id here -->
	               <div class="email">
	                  <i class="fa fa-envelope-o"></i> Email: someting@gmail.com
	               </div>
	               <hr />
	               <!-- Add your address here -->
	               <div class="address">
	                  <i class="fa fa-home"></i> Address: 12, Srtington Street, NY
	               </div>
	            </div>
	         </div>
	      </div>
	   </div>
	</header>
	
	<!-- Header ends -->
	
	<!-- Navigation Starts -->
		<!-- Note down the syntax before editing. It is the default twitter bootstrap navigation -->
		<div class="navbar bs-docs-nav" role="banner">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
				<!-- Navigation links starts here -->
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'Accueil'| trans({},'') }} <b class="caret"></b></a>
							<!-- Submenus -->
							<ul class="dropdown-menu">
								<li><a href="index.html">Home #1</a></li>
								<li><a href="index1.html">Home #2</a></li>
								<li><a href="index2.html">Home #3</a></li>
							</ul>
						</li>
						<!-- Navigation with sub menu. Please note down the syntax before you need. Each and every link is important. -->
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'Services'| trans({},'') }}<b class="caret"></b></a>
							<!-- Submenus -->
							<ul class="dropdown-menu">
								<li><a href="support.html">Support</a></li>
								<li><a href="products.html">Products</a></li>
								<li><a href="register.html">Register</a></li>
								<li><a href="login.html">Login</a></li>                  
								<li><a href="about.html">About</a></li>
								<li><a href="service.html">Service #1</a></li>
								<li><a href="service1.html">Service #2</a></li>
								<li><a href="pricing.html">Pricing Table</a></li>
								<li><a href="careers.html">Careers</a></li>
								<li><a href="faq.html">FAQ</a></li>
								<li><a href="team.html">Team</a></li>
							</ul>
						</li>   
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'Commercial'| trans({},'') }}<b class="caret"></b></a>
							<!-- Submenus -->
							<ul class="dropdown-menu">
								<li><a href="404.html">404</a></li>
								<li><a href="comingsoon.html">Coming Soon</a></li>
								<li><a href="resume.html">Resume</a></li>
								<li><a href="sitemap.html">Sitemap</a></li>
								<li><a href="process.html">Process</a></li>
								<li><a href="testimonials.html">Testimonials</a></li>
								<li><a href="review.html">Review</a></li>
								<li><a href="project.html">Project</a></li>
								<li><a href="timeline.html">Timeline</a></li>
								<li><a href="full-width.html">Full Width</a></li>
								<li><a href="events.html">Events</a></li>
							</ul>
						</li>   
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'Blog'| trans({},'') }}<b class="caret"></b></a>
							<!-- Submenus -->
							<ul class="dropdown-menu">
								<li><a href="blog.html">Blog Main #1</a></li>
								<li><a href="blog1.html">Blog Main #2</a></li>
								<li><a href="blog2.html">Blog Main #3</a></li>
								<li><a href="blog-ls.html">Blog Left Sidebar</a></li>
								<li><a href="blog-ns.html">Blog No Sidebar</a></li>                  
								<li><a href="blog-single.html">Blog Single</a></li>
							</ul>
						</li>
						{#   
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Features <b class="caret"></b></a>
							<!-- Submenus -->
							<ul class="dropdown-menu">
								<li><a href="features.html">Features #1</a></li>
								<li><a href="features1.html">Features #2</a></li>
								<li><a href="features2.html">Features #3</a></li>
							</ul>
						</li>
						  
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
							<!-- Submenus -->
							<ul class="dropdown-menu">
								<li><a href="gallery.html">Gallery</a></li>
								<li><a href="portfolio1.html">Portfolio #1</a></li>
								<li><a href="portfolio2.html">Portfolio #2</a></li>
								<li><a href="portfolio.html">Portfolio #3</a></li>
							</ul>
						</li>
						#}  
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'Contact'| trans({},'') }}<b class="caret"></b></a>
							<!-- Submenus -->
							<ul class="dropdown-menu">
								<li><a href="contact.html">Contact #1</a></li>
								<li><a href="contact1.html">Contact #2</a></li>
								<li><a href="clients.html">Clients</a></li>
							</ul>
						</li> 
					</ul>
				</nav>
			</div>
		</div>
		<!--/ Navigation Ends -->