<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Demo Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">

  <!-- HTML5 Support for IE -->
  <!--[if lt IE 9]>
  <script src="js/html5shim.js"></script>
  <![endif]-->
		
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

  <!-- Stylesheets -->
  <link href="{{ asset('public/default/css/bootstrap.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ asset('public/default/css/font-awesome.css') }}">
  <!--[if IE 7]>
  <link rel="stylesheet" href="style/font-awesome-ie7.css">
  <![endif]-->		
  <link href="{{ asset('public/default/css/style.css') }}" rel="stylesheet">
  <link href="{{ asset('public/default/css/bootstrap-responsive.css') }}" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon" href="img/favicon/favicon.png">
</head>

<body>
	
	<div class="main">
   <div class="container">
      <div class="row">
         <div class="span12">
			<br />
            <h1>Chandler - Awesome Bootstrap Theme</h1>
            
			<br />
      
        <br />
         
        
         </div>
      </div>


      <div class="row">
        <div class="span6">
		
		
 

          <div class="block">
            <!-- 
            <a href="http://responsivewebinc.com/premium/chandler151/single" target="_blank">
              <img src="img/single.png" alt="" />
            </a>
             -->  
            <a href="{{ path('_demenagement') }}">
            	<img src="{{ asset('public/default/img/single.png')}}" alt="Demenagement" />
            </a>           
          </div>  
		  
		  
		</div>
		
		<div class="span6">
		


          <div class="block">
            <!-- 
            <a href="http://responsivewebinc.com/premium/chandler151/multi" target="_blank">
              <img src="img/multi.png" alt="" />
            </a>
             -->
            <a href="{{ path('_delivery') }}">
            	<img src="{{ asset('public/default/img/multi.png')}}" alt="Livraison / Messagerie" />
            </a>            
          </div>
		
		
		</div>
	  </div>

     



          

      

   </div> 
</div>
	

	<script src="{{ asset('public/js/jquery.js')}}"></script>
	<script src="{{ asset('public/default/js/bootstrap.js')}}"></script>
	<script src="{{ asset('public/default/js/jquery.anchor.js')}}"></script>

<script type="text/javascript">
$(document).ready(function(){
	$('.small-block a, .shot img, .block img').hover(function(){
	      $(this).animate({opacity: 0.8});
	   },
	   function(){
	      $(this).animate({opacity:1});
	   	}
	   );
	});
</script>

</body>
</html>
